<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/index.js"></script>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <body>
    <div class="links">
      <a href="https://github.com/DominicWuest" class="github">GitHub</a>
      <a href="#" class="stackoverflow">StackOverflow</a>
      <a href="#" class="linkedin">LinkedIn</a>
      <div class="contact" onclick="window.location.href='mailto:dominic.wuest@hotmail.com'">Contact Me!</div>
    </div>
  </body>
</html>
